@import "./variables.scss";

@mixin grid {
  width: 100%;
  max-width: 1024px;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: $gutter;
  margin: auto;
  box-sizing: border-box;

  .row {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: $gutter;
  }

  @for $i from 1 through $columns {
    .col-xs-#{$i} {
      grid-column-end: span $i;
    }
  }

  @for $i from 1 through $columns {
    .col-sm-#{$i} {
      @media (min-width: $breakpoint-sm) {
        grid-column-end: span $i;
      }
    }
  }

  @for $i from 1 through $columns {
    .col-md-#{$i} {
      @media (min-width: $breakpoint-md) {
        grid-column-end: span $i;
      }
    }
  }

  @for $i from 1 through $columns {
    .col-lg-#{$i} {
      @media (min-width: $breakpoint-lg) {
        grid-column-end: span $i;
      }
    }
  }

  @for $i from 1 through $columns {
    .col-xl-#{$i} {
      @media (min-width: $breakpoint-xl) {
        grid-column-end: span $i;
      }
    }
  }

  @for $i from 1 through $columns {
    .col-xs-offset-#{$i} {
      grid-column-start: $i+1;
    }
  }

  @for $i from 1 through $columns {
    .col-sm-offset-#{$i} {
      @media (min-width: $breakpoint-sm) {
        grid-column-start: $i+1;
      }
    }
  }

  @for $i from 1 through $columns {
    .col-md-offset-#{$i} {
      @media (min-width: $breakpoint-md) {
        grid-column-start: $i+1;
      }
    }
  }

  @for $i from 1 through $columns {
    .col-lg-offset-#{$i} {
      @media (min-width: $breakpoint-lg) {
        grid-column-start: $i+1;
      }
    }
  }

  @for $i from 1 through $columns {
    .col-xl-offset-#{$i} {
      @media (min-width: $breakpoint-xl) {
        grid-column-start: $i+1;
      }
    }
  }
}