$primary-dark-2-color: #1F2767;
$primary-dark-1-color: #374080;
$primary-color: #565E9B;
$primary-light-1-color: #7E85B7;
$primary-light-2-color: #B1B5D8;
$primary-light-3-color: #F1F3FF;

$secondary-color: #9F8A7A;

$columns: 12;
$gutter: 16px;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;